.App {
  text-align: center;
  background-color: rgb(9, 0, 0);
  font-family: monospace;
  /* background-image: linear-gradient(#53A2BE, #0A2239) */
  /* display: flex;
  justify-content: center; */
}

.App-header {
  background-color: #58657e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;

}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
