.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding: 5%;
    font-family: monospace;
    color: white;
    font-size:x-large;
    border-radius: 0%;
    background-color: grey;
}

.filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
