.side-bar {
    display: flex;
    position: absolute;
    top: 30%;
    right: 0%;
    font-size: xx-large;
    flex-direction: column;
    justify-content: space-around;
    background-color: #c5fffd;
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
    color: #132E32;
    font-size: 30pt;
}

.side-like-icon {
    font-size: 150%;
}

.side-watched-button {
    border-top: solid;
}

.side-like-icon:hover {
    color: white;
}

.side-watched-button:hover {
    color: white;
    border-color: #132E32;
}
